<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit client</title>
</head>
<body>
<a href="javascript:history.back()" style="text-decoration: none; color: #007BFF; margin-top: 20px; display: block;">
    &lt; Return
</a>
<form action="#" th:action="@{/client/edit}" th:object="${client}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Name: </label>
    <input type="text" th:field="*{nameClient}" required/><br/>
    <label>Email: </label>
    <input type="email" th:field="*{email}" required/><br/>
    <label>Phone Number: </label>
    <input type="text" th:field="*{phoneNumber}" required/><br/>
    <input type="submit" value="Save"/>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>