<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Registration</title>
    <!-- Dodatkowe meta tags, stylesheets, itp. -->
</head>
<body>
<h2>Client Registration Form</h2>

<form th:action="@{/client/register}" method="post">
    <label for="nameClient">Imię:</label>
    <input type="text" id="nameClient" name="nameClient" th:value="${client.nameClient}" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:value="${client.email}" required><br><br>

    <label for="phoneNumber">Numer telefonu:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:value="${client.phoneNumber}" required><br><br>

    <button type="submit">Zarejestruj</button>
</form>


<!-- Wyświetlanie danych klienta po dodaniu do bazy danych -->
<div th:if="${client.emailConfirmed}">
    <h2>Client Details</h2>
    <p th:text="${'Name: ' + client.nameClient}">Client Name</p>
    <p th:text="${'Email: ' + client.email}">Client Email</p>
    <p th:text="${'Phone Number: ' + client.phoneNumber}">Phone Number</p>
</div>
</body>
</html>
