<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<a href="javascript:history.back()" style="text-decoration: none; color: #007BFF; margin-top: 20px; display: block;">
    &lt; Return
</a>

<form action="#" th:action="@{/car/edit}" th:object="${car}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Brand: </label>
    <select th:field="*{brand}">
        <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
    </select><br/>
    <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span><br/>
    <label>Model: </label>
    <input type="text" th:field="*{model}" required/><br/>
    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span><br/>
    <label>Registration Number: </label>
    <input type="text" th:field="*{registrationNumber}" required/><br/>
    <span th:if="${#fields.hasErrors('registrationNumber')}" th:errors="*{registrationNumber}"></span><br/>
    <label>Status: </label>
    <input type="text" th:field="*{status}" required/><br/>
    <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span><br/>
    <input type="submit" value="Save"/>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
