<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Invoice</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form action="#" th:action="@{add}" th:object="${invoice}" method="post">
    <label>Client: </label>
    <select th:field="*{client.id}" required>
        <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.nameClient}"/>
    </select><br/>
    <label>Car: </label>
    <select th:field="*{car.id}" required>
        <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.displayName}"/>
    </select><br/>
    <label>Amount: </label>
    <input type="number" step="10" th:field="*{amount}" required/><br/>
    <label>Issue Date: </label>
    <input type="date" th:field="*{issueDate}" required/><br/>
    <label>Status: </label>
    <select th:field="*{status}">
        <option th:value="Paid">Paid</option>
        <option th:value="Unpaid">Unpaid</option>
    </select><br/>
    <input type="submit"/>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>